{% extends "layout.html" %}

{% set active_page = "Information" %}

{% block title %}Information{% endblock %}

{% block content %}
    <!--page content-->
    <h1>Information</h1>
	



	<form action="/showGameFact">
          <select name="game">
            {{ value22 }}
          </select>
 <br><br>
          <input type="submit" value="Show the game info">
        </form>
        <div id="gameFacts">
            <p>{{ Year }}</p>
			<p>{{ Price }}</p>
			<p>{{ Console }}</p>
	
{% endblock %}